---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Marquee from '../components/Marquee.astro'
---

<Layout title="gorkle design">
	<section id="home" class="bg-background h-screen flex flex-col justify-start w-full">
		<Nav/>
		<Marquee/>
		<div class="m-auto gap-6 flex flex-col mx-4 items-start md:items-center">
			<h1 class="text-4xl md:text-6xl md:text-center text-left font-serif">We Navigate Digital Landscapes</h1>
			<h2 class="text-sm md:text-xl md:text-center text-left font-serif">We help home service companies all across Australia stand out against the competition,
				unveiling their beauty with our soil-to-screen expertise.
				</h2>
				<div class="flex gap-4"><a href="#about" class="px-4 py-2 bg-evergreen text-sm md:text-xl rounded-md text-background">Contact Us</a><a href="#contact" class="px-4 py-2 bg-cucumber text-sm md:text-xl rounded-md text-background">Learn More</a></div>
		</div>
	</section>
	<section id="portfolio" class="bg-background flex flex-col justify-start w-full">
		<div class=" py-7 gap-6 flex flex-col mx-4 items-start">
			<h3 class="text-5xl font-serif">Our Work</h3>
			<p class="text-zeus">This is a bit barren, so that’s pretty embarrassing. We’re the new web design agency on the block, and while our team members have decades of experience, there aren’t many projects yet done under the Gorkle name.<br>Which is all the more reason to get your business down here! ;)</p>
			<div class="flex flex-col md:grid grid-cols-4 grid-rows-2 w-full h-full gap-4"><img src="/seventrees.png"><img src="/magnal.png"><img src="/lawnscare.png"><img src="/lasalle.png"/><img src="/esgarden.png"></div>
		</div>
	</section>
	<section id="about" class="bg-background flex flex-col justify-start w-full">
		<div class=" py-7 gap-6 flex flex-col mx-4 items-start">
			<h3 class="text-3xl font-serif md:text-5xl">Here's The Numbers:</h3>
			<p class="text-lg font-sans md:text-2xl">After 6 months With Gorkle, Our Average Client Receives 270% Return On Investment.</p>
			<p class="text-sm md:text-md font-sans">*this is calculated by the profit they recieve on jobs collected through gorkle's website.</p>
		</div>
	</section>
	<section class="bg-background flex flex-col justify-start w-full">
		<div class=" py-7 gap-6 flex flex-col mx-4 items-start">
			<h3 class="text-3xl font-serif md:text-5xl">How We Work:</h3>
			<p class="text-lg font-sans md:text-2xl"><strong>You're the most important person in your business.</strong><br>Which, is why we won't spend 6 hours of your time on useless appointments and calls. (We couldn't afford to pay you by the hour!)</p>
			<p class="text-sm md:text-md font-sans">We also won't make you read 1000 paragraphs on this website, so we'll end it here.</p>
		</div>
	</section>
	<section id="contact" class="bg-background flex flex-col justify-center w-full">
		<div class="border-t border-zeus py-7 gap-3 flex flex-col mx-4 items-start">
			<h3 class="text-3xl font-serif md:text-5xl">Talk to us:</h3>
			<p class="text-lg font-sans md:text-2xl">email: mark@gorkle.design</p>
			<p class="text-lg font-sans md:text-2xl">phone: +61 8 6102 5655</p>
			
		</div>
	</section>
</Layout>
