---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Marquee from '../components/Marquee.astro'
---

<Layout title="gorkle design">
	<section id="home" class="bg-background h-screen flex flex-col justify-start w-full">
		<Nav/>
		<Marquee/>
		<div class="m-auto gap-6 flex flex-col mx-4 items-start md:items-center">
			<h1 class="text-4xl md:text-6xl md:text-center text-left font-serif">We Navigate Digital Landscapes</h1>
			<h2 class="text-sm md:text-xl md:text-center text-left font-serif">We help home service companies all across Australia stand out against the competition,
				unveiling their beauty with our soil-to-screen expertise.
				</h2>
				<div class="flex gap-4"><a href="#contact" class="px-4 py-2 bg-evergreen text-sm md:text-xl rounded-md text-background">Contact Us</a><a href="#about" class="px-4 py-2 bg-cucumber text-sm md:text-xl rounded-md text-background">Learn More</a></div>
		</div>
	</section>
	<section id="portfolio" class="bg-background flex flex-col justify-start w-full">
		<div class=" py-7 gap-6 flex flex-col mx-4 items-start">
			<h3 class="text-5xl font-serif">Our Work</h3>
			<p class="text-zeus">This is a bit barren, so that’s pretty embarrassing. We’re the new web design agency on the block, and while our team members have decades of experience, there aren’t many projects yet done under the Gorkle name.<br>Which is all the more reason to get your business down here! ;)</p>
			<div class="flex flex-col md:grid grid-cols-4 grid-rows-2 w-full h-full gap-4"><img src="/seventrees.png"><img src="/magnal.png"><img src="/lawnscare.png"><img src="/lasalle.png"/><img src="/esgarden.png"></div>
		</div>
	</section>
	<section id="about" class="bg-background flex flex-col justify-start w-full">
		<div class=" py-7 gap-6 flex flex-col mx-4 items-start">
			<h3 class="text-3xl font-serif md:text-5xl">Here's The Numbers:</h3>
			<p class="text-lg font-sans md:text-2xl">After 6 months With Gorkle, Our Average Client Receives 270% Return On Investment.</p>
			<p class="text-sm md:text-md font-sans">*this is calculated by the profit they recieve on jobs collected through gorkle's website.</p>
		</div>

			<section id="about" class="px-10 p-4 flex md:flex-row flex-col">
				<section class="md:w-[50%] flex justify-start gap-8 md:gap-20 md:py-24 items-start flex-col py-5 text-white">
					<h3 class="text-sm">About Us</h3>
					<h1 class="text-3xl md:text-4xl font-medium">It's about you</h1>
				</section>
				<section class="md:w-[50%] flex justify-start gap-8 md:gap-20 md:py-24 items-start md:items-end flex-col py-5 text-white">
					<h3 class="text-sm hidden md:block">About Us</h3>
					<h1 class="text-lg md:text-3xl font-light">Founded recently, we aim to provide a high quality experience to business owners</h1>
					<h1 class="text-sm md:text-3xl font-light">As a small business owner, it's common to be waved off and turned away by agencies offering high quality services. We aim to offer that professional service to smaller business for a reasonable price.</h1>
				</section>
			</section>
			<section id="contact" class="px-10 p-4 flex md:flex-row flex-col">
				<section class="md:w-[50%] flex justify-start gap-8 md:gap-20 md:py-24 items-start flex-col py-5 text-white">
					<h3 class="text-sm">Contact Us</h3>
					<h1 class="text-3xl md:text-4xl font-medium">So what are you waiting for?</h1>
				</section>
				<section class="md:w-[50%] flex justify-start gap-8 md:gap-20 md:py-24 items-start md:items-end flex-col py-5 text-white">
					<h3 class="text-sm hidden md:block">Contact Us</h3>
					<h1 class="text-lg md:text-3xl font-light">mark@gorkle.design</h1>
					<h1 class="text-lg md:text-3xl font-light">+61 424 904 611</h1>
				</section>
			</section>
			<div class="px-10 p-4"><h1 class="text-sm md:text-lg text-white font-light">This business is operated in it's entirery within Australia. ABN: 96 427 975 965</h1></div>
			
		
	</main>
</Layout>
